{{!-- page to display all friend channels and components necesscary to exchange messages between friends  --}}

{{>navbar page="friends" subpage="all"}}

{{#if channelInfo}}
    {{>channelslist
        title="Friends"
        endPoint="friends"
    }}

    {{#>sendcolumn
        type="message-column-friends"
    }}{{/sendcolumn}}

    {{>errormodal
        id="spam-modal"
        title="Spammer Alert!"
        text="Say no to toxic behaviour!"
    }}

    <script src="/socket.io/socket.io.js"></script>
    <script src="/public/js/chat.js"></script>
{{else}}
    <div class="container">
        <p>You need friends</p>
    </div>
{{/if}}
