{{>navbar page="friends" subpage="all"}}

{{#if friendsInfo}}
    <div class="column channels-container list-group">
        {{#each friendsInfo}}
            <a href="/friends/all/{{this.channelId}}" class="list-group-item list-group-item-action 
            {{#iff ../selectedChannelId '===' this.channelId}}
                active
            {{/iff}}">
                {{this.id}} {{this.username}}
            </a>
        {{/each}}
    </div>
    <div class="column message-column-friends">
        <div id="message-container" class="message-log">
            <div id="spinner-box" class="text-center spinner-box">
                <div class="spinner-border spinner-border-sm spinner-green" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
                Loading...
            </div>
        </div>
        <form id="send-container" class="form-inline">
            <textarea class="form-control submit-textarea" name="message" id="message-input" style="margin: 20px 0 10px 0;"></textarea>
            <button type="submit" class="btn btn-success" id="send-button" style="margin:auto;width:15%">Send</button>
        </form>
    </div>

    {{>errormodal
        id="spam-modal"
        title="Spammer Alert!"
        text="Say no to toxic behaviour!"
    }}

    <script src="/socket.io/socket.io.js"></script>
    <script src="/public/js/chat.js"></script>
{{else}}
    <div class="container">
        <p>You need friends</p>
    </div>
{{/if}}
