{{#if errorMessage}}
    <div class="alert alert-danger">
        {{errorMessage}}
    </div>
{{/if}}

{{#if successMessage}}
    <div class="alert alert-danger">
        {{successMessage}}
    </div>
{{/if}}

<form method="POST", action="/friends/remove">
    <div class="form-group">
        <label for="friendName">Remove Friend:</label>
        <input type="text" name="friendName" class="form-control" placeholder="Username">       
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>