{{!-- page to display all group channels and components necesscary to exchange messages between groups  --}}

{{>navbar page="groups" subpage="all"}}

{{#if channelInfo}}

    {{>channelslist
        title="Groups"
        endPoint="groups"
    }}

    {{#>sendcolumn
        type="message-column-groups"
    }}
        {{>groupsfooter}}
    {{/sendcolumn}}

    {{>memberslist}}

    {{>errormodal
        id="spam-modal"
        title="Spammer Alert!"
        text="Say no to toxic behaviour!"
    }}
    {{>leavemodal}}
    {{>invitemodal}}
    {{>promotemodal}}
    {{>kickmodal}}

    <script src="/socket.io/socket.io.js"></script>
    <script src="/public/js/chat.js"></script>
{{else}}
    <div class="container">
        <p>You need a group to join!</p>
    </div>
{{/if}}