<div>
    {{#if successMessage}}
        <div class="alert alert-danger">
            {{successMessage}}
        </div>
    {{/if}}
</div>

<form method="POST" action="/groups/create">
    <div class="form-group">
        <label for="groupName">Group Name</label>
        <input type="text" name="groupName" class="form-control" placeholder="Group Name">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>