{{>navbar page="login"}}

<div class="container">
    {{#if error}}
        <div class="alert alert-danger">
            {{error}}
        </div>
    {{/if}}

    <form method="POST" action="/login">
        <div class="form-group">
            <label for="username">Username</label>
            <input type="text" name="username" class="form-control" placeholder="Username">
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" name="password" class="form-control" placeholder="Password">
        </div>
        <button type="submit" class="btn btn-success">Submit</button>
    </form>
</div>

