.message-log {
    height: 360px;
    width: 100%;
    background-color: rgb(40, 40, 40);
    overflow-y: auto;
    overflow-wrap: break-word;
    box-sizing: border-box;
    border-radius: 5px;
}

* {
    color: white;
}

body {
    overflow: hidden;
    background-color: rgb(80, 80, 80);
}

.form-control {
    background-color:lightgray;
}

.spinner-box {
    color:greenyellow;
    border:lightgrey 2px solid;
}

.spinner-border {
    color:greenyellow;
}

.column {
    float: left;
}

.message-column {
    width: 80%;
    height: 100%;
    padding: 0 10px 0 10px;
}

.submit-textarea {
    resize: none;
    width: 80% !important;
}

.channels-container {
    width: 20%;
    height: 465px;
    overflow: hidden auto;
}

.navbar {
    background-color: rgb(40, 40, 40);
}

.channels-column {
    padding-left: 10px;
}

.list-group-item {
    background-color: rgb(50, 50, 50);
    color: #FFFFFF80;
}

.list-group-item-action:hover {
    background-color: #218838;
    border-color: #1a6d2d;
    color: white;
}

.form-control:focus {
    border-color: greenyellow;
    box-shadow: 0 0 0 0.2rem rgba(0, 255, 34, 0.25);
}

.requests {
    height: 460px;
    overflow: hidden auto"
}

.btn-back {
    margin-bottom: 20px;
}

::-webkit-scrollbar{
    width:5px;
    background-color: white;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: greenyellow;
    border-radius: 10px;
  }