/* some global css */

* {
    color: #ffffff;
}

body {
    padding-top: 80px;
    background-color: rgb(80, 80, 80);
}

.form-control {
    background-color:lightgray;
}

.spinner-box {
    color:greenyellow;
    border:lightgrey 2px solid;
}

.spinner-green {
    color:greenyellow;
}

.column {
    float: left;
}

.column-title {
    text-align: center;
    color: black;
    background-color:#D3D3D3;
    font-weight: 500;
    font-size: 20px;
    padding: 10px;
}

.list-group-item {
    background-color: rgb(50, 50, 50);
    color: #FFFFFF80;
}

.list-group-item-action:hover {
    background-color: #218838;
    border-color: #1a6d2d;
    color: white;
}
 
.form-control:focus {
    border-color: greenyellow;
    box-shadow: 0 0 0 0.2rem rgba(0, 255, 34, 0.25);
}

::-webkit-scrollbar{
    width:5px;
    background-color: white;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: greenyellow;
    border-radius: 10px;
  }

.modal-content {
    border: none;
}

.modal-dialog .modal-content .modal-header span {
    text-shadow: none;
}


